<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<table class="table">
    <thead>
    <tr>
        <th scope="col"/>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Year</th>
        <th scope="col">Genre</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <th scope="row"><span th:text="${book.id}"/></th>
        <td><span th:text="${book.title}"></span></td>
        <td><span th:text="${book.author.getFullName()}"/></td>
        <td><span th:text="${book.year}"/></td>
        <td><span th:text="${book.genre}"/></td>
    </tr>
    </tbody>
</table>
</body>
</html>